<ion-content>
  <header class="menu_superior">
    <img class="icon" src="assets/icone_pessoa_verde.png" alt="">
    <h1 class="titulo_pagina">Amigo Pet</h1>
    <img class="icon" src="assets/menu_lateral.png" alt="">
  </header>

  <footer>
    <div class="footer-item">
      <img class="rodape_icones_itens" src="assets/icone_home_selecionado.png" alt="Ícone Home">
      <a class="botao" routerLink="/home">Home</a>
    </div>
    <div class="footer-item">
      <img class="rodape_icones_itens" src="assets/icone_pets.png" alt="Ícone Pets">
      <a class="botao" routerLink="/pets">Pets</a>
    </div>
    <div class="footer-item">
      <img class="rodape_icones_itens" src="assets/icone_contato.png" alt="Ícone Contato">
      <a class="botao" routerLink="/contato">Contato</a>
    </div>
  </footer>

</ion-content>