<ion-content>
    <header class="menu_superior">
        <img class="icon" src="assets/icone_pessoa_verde.png" alt="">
        <h1 class="titulo_pagina">Amigo Pet</h1>
        <img class="icon" src="assets/menu_lateral.png" alt="">
    </header>
    <section id="contact" class="contact">
        <ion-card style="--background: #0c5e3c;">
          <ion-card-header>
            <ion-card-title style="color: white;">Contato</ion-card-title>
          </ion-card-header>
          <ion-card-content style="color: white;">
            <p>Clique para entrar em contato:</p>
            <ion-grid>
              <ion-row>
                <ion-col size="12" size-md="4">
                  <ion-item button href="https://wa.me/SEUNUMERO" target="_blank" class="contact-link">
                    <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
                    <ion-label>WhatsApp</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="12" size-md="4">
                  <ion-item button href="https://facebook.com/SEUPERFIL" target="_blank" class="contact-link">
                    <ion-icon name="logo-facebook" slot="start"></ion-icon>
                    <ion-label>Facebook</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="12" size-md="4">
                  <ion-item button href="https://instagram.com/SEUPERFIL" target="_blank" class="contact-link">
                    <ion-icon name="logo-instagram" slot="start"></ion-icon>
                    <ion-label>Instagram</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </section>

</ion-content>