<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content>
  <section id="logo-section" class="logo-section">
    <img class="logo-image" src="assets/logo 1.png" alt="Logo Amigo Pet">
  </section>

  <section id="contact" class="contact">
    <ion-card style="--background: #F4ECE1;">
      <ion-card-header>
        <ion-card-title class="title-bold" style="color: #0c5e3c;">Contato</ion-card-title>
      </ion-card-header>
      <ion-card-content style="color: black;">
        <ion-grid>
          <ion-row class="info-item">
            <ion-col size="2">
              <img src="./assets/icone_instagram.png" style="width: 54px; height: 34px;">
            </ion-col>
            <ion-col size="10">
              <ion-label>ong_amigopetoficial</ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="info-item">
            <ion-col size="2">
              <img src="./assets/icone_email.png" style="width: 54px; height: 34px;">
            </ion-col>
            <ion-col size="10">
              <ion-label>ongamigopet13&#64;gmail.com</ion-label>

            </ion-col>
          </ion-row>
          <ion-row class="info-item">
            <ion-col size="2">
              <img src="./assets/icone_tiktok.png" style="width: 24px; height: 24px;">
            </ion-col>
            <ion-col size="10">
              <ion-label>ong.amigo.pet</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </section>
</ion-content>

<ion-footer>
  <ion-toolbar></ion-toolbar>
</ion-footer>