.menu_superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #F4ECE1;
}

.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.icon {
  width: 30px;
  height: 30px;
}

.titulo_pagina {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #07694C;
  text-align: center;
  margin: 0;
}

ion-title {
  text-align: center;
  color: #0c5e3c;
  font-size: 28px;
}

ion-content.content {
  --background: #F4ECE1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 20px;
}

.contact {
  margin-top: 20px;
  padding: 15px;
}

ion-card {
  --background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ion-card-title {
  text-align: center;
  font-size: 40px;
  color: #0c5e3c;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.info-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

ion-label {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  color: #333;
}

ion-icon {
  font-size: 24px;
  margin-right: 10px;
  color: #333;
}