<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <img class="rodape_icones_itens" src="assets/icone_home.png" alt="Ícone Home">
      <ion-label class="botao">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pets" href="/tabs/pets">
      <img class="rodape_icones_itens" src="assets/icone_pets.png" alt="Ícone Pets">
      <ion-label class="botao">Pets</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contato" href="/tabs/contato">
      <img class="rodape_icones_itens" src="assets/icone_contato.png" alt="Ícone Contato">
      <ion-label class="botao">Contato</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>