.menu_superior,
ion-menu,
ion-header,
ion-toolbar {
    --background: #F4ECE1;
}

.titulo_pagina {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #07694C;
}

ion-menu-button {
    color: #07694C;
}

ion-title {
    color: #07694C;
}

ion-tab-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #07694C;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

ion-tab-button {
    background-color: #07694C;
}

.botao {
    font-family: "Montserrat", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 14px;
}