.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

ion-button {
    color: white;
    font-family: "Montserrat", sans-serif;
    --background: #07694C;
}