<ion-header>
    <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content>
    <ion-title>Quem Somos?</ion-title>
    <p>Bem-vindo(a) à ONG Amigo Pet! Somos uma organização sem fins lucrativos, localizada na cidade de Capão do Leão -
        RS, dedicada a transformar a vida de cães em situação de abandono e vulnerabilidade.
    </p>
    <p>
        Nossa missão é cuidar e encontrar lares amorosos para os nossos peludos, garantindo que cada um deles tenha a
        chance de viver com dignidade e carinho.

    </p>
    <p>
        Desde nossa fundação, temos trabalhado incansavelmente para proporcionar a esses animais um ambiente seguro, com
        todos os cuidados necessários para sua saúde e bem-estar. Nossa equipe é composta por voluntários apaixonados,
        que
        dedicam tempo e amor para dar a cada cão a atenção e o tratamento que merecem.
    </p>
</ion-content>

<ion-footer>
    <ion-toolbar></ion-toolbar>
</ion-footer>