ion-content {
    --ion-background-color: #f8f8f8;
  }
  
  ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
  }
  
  ion-label {
    font-weight: bold;
  }
  
  ion-button {
    --background: #3498db;
    --color: #fff;
  }