<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <main>
    <div class="banners">
      <ion-card-content (click)="navigateToQuemSomos()">
        <img class="banners_itens" src="assets/banner_exemplo.png" alt="Banner Exemplo">
      </ion-card-content>
    </div>

    <div class="adocao">
      <div class="adocao_header">
        <ion-title class="adocao_titulo">Pets para Adoção</ion-title>
        <ion-buttons>
          <ion-back-button defaultHref="/tabs/pets"></ion-back-button>
        </ion-buttons>
      </div>
      <div class="adocao_pets">
        <ng-container *ngFor="let pet of pets">
          <ion-card *ngIf="!pet.adotado" (click)="navigateToPetDetail(pet.id.toString())">
            <ion-card-content>
              <img [src]="pet.foto" [alt]="pet.nome">
            </ion-card-content>
          </ion-card>
        </ng-container>
      </div>
    </div>

    <div class="adocao">
      <div class="adocao_header">
        <ion-title class="adocao_titulo">Pets Adotados</ion-title>
      </div>
      <div class="adocao_pets">
        <ng-container *ngFor="let pet of pets">
          <ion-card *ngIf="pet.adotado" (click)="navigateToPetDetail(pet.id.toString())">
            <ion-card-content>
              <img [src]="pet.foto" [alt]="pet.nome">
            </ion-card-content>
          </ion-card>
        </ng-container>
      </div>
    </div>
  </main>
</ion-content>

<ion-footer>
  <ion-toolbar></ion-toolbar>
</ion-footer>