.menu_superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 5px 10px;
  background-color: #F4ECE1;
}

.icon {
  width: 28px;
  height: 28px;
}

.titulo_pagina {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #07694C;
}

.banners {
  text-align: center;
}

.banners_itens {
  width: 95%;
  border-radius: 28px;
}

.adocao {
  padding: 10px;
}

.adocao_titulo {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #07694C;
}

.adocao_pets {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.adocao_pets_itens {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}