.banners {
  text-align: center;
}

.banners_itens {
  width: 95%;
  border-radius: 28px;
}

.adocao {
  padding: 10px;
}

.adocao_titulo {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #07694C;
}

.adocao_header {
  display: flex;
  align-items: center;
}

ion-back-button {
  --icon-width: 24px;
  --icon-height: 24px;
  transform: rotate(180deg);
  color: #07694C;
}

.adocao_pets {
  overflow-x: auto;
  display: flex;
  gap: 5px;
}

ion-card {
  max-width: 80px;
  max-height: 80px;
  flex: 0 0 auto;
  padding: 0;
  border-radius: 12px;
  overflow: hidden;
}

ion-card-content {
  padding: 0;
}

ion-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

ion-content {
  --padding-top: 20px;
  --padding-bottom: 20px;
}