<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <main>
    <div class="banners">
      <img class="banners_itens" src="assets/banner_exemplo.png" alt="Banner Exemplo">
    </div>

    <div class="adocao_pets">
      <ion-card *ngFor="let pet of pets" (click)="navigateToPetDetail(pet.id)">
        <ion-card-content>
          <img [src]="pet.foto" [alt]="pet.nome">
        </ion-card-content>
      </ion-card>
    </div>

  </main>
</ion-content>


<ion-footer>
  <ion-toolbar></ion-toolbar>
</ion-footer>