<ion-content>
  <header class="menu_superior">
    <img class="icon" src="assets/icone_pessoa_verde.png" alt="">
    <h1 class="titulo_pagina">Amigo Pet</h1>
    <img class="icon" src="assets/menu_lateral.png" alt="">
  </header>

  <main>
    <div class="banners">
      <img class="banners_itens" src="assets/banner_exemplo.png" alt="">
    </div>
    <!-- temporário -->

    <div class="adocao">
      <h2 class="adocao_titulo">Cães para Adoção</h2>
      <div class="adocao_pets">
        <img class="adocao_pets_itens" src="assets/cachorro_1.png" alt="">
        <img class="adocao_pets_itens" src="assets/cachorro_2.png" alt="">
        <img class="adocao_pets_itens" src="assets/cachorro_3.png" alt="">
        <img class="adocao_pets_itens" src="assets/cachorro_4.png" alt="">
      </div>
    </div>
    <!-- temporário -->
  </main>

</ion-content>