<ion-header>
    <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content>
    <ion-title>Como você pode ajudar?</ion-title>
    <p>Existem muitas formas de se envolver com a nossa causa! Você pode se tornar um voluntário, fazer uma doação,
        adotar um
        de nossos cães, ou simplesmente compartilhar nossa missão com outras pessoas. Cada gesto faz a diferença para
        nós e,
        principalmente, para os cães que dependem de nossa ajuda.</p>

    <div class="ajuda">
        <ion-button href="https://chat.whatsapp.com/CaVObUsVn9VE4ldaWlshVn" target="_blank">
            Grupo de voluntários
        </ion-button>

        <ion-button href="https://apoia.se/ajudamensalongamigopet" target="_blank">
            Apoia.se
        </ion-button>

        <ion-button href="https://static.wixstatic.com/media/d4a2f0_867c92ede8c4421f81216a616f3329a1~mv2.jpeg"
            target="_blank">
            Pix: 19095450/000133 (CNPJ)
        </ion-button>

        <ion-button [routerLink]="['/tabs/parceiro']">
            Seja parceiro
        </ion-button>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar></ion-toolbar>
</ion-footer>