<ion-content>
    <header class="menu_superior">
        <img class="icon" src="assets/icone_pessoa_verde.png" alt="">
        <h1 class="titulo_pagina">Amigo Pet</h1>
        <img class="icon" src="assets/menu_lateral.png" alt="">
    </header>

    <section class="pet_list">
        <article *ngFor="let item of petList" class="pet_card">
            <img src="{{item.foto}}" alt="foto do pet {{item.nome}}" class="foto_card">
            <h2>{{item.nome}}</h2>
            <p>{{item.idade}}</p>
            <button [routerLink]="['/tabs/detalhe-pet', item.id]" class="btn_card">{{item.adotado ? 'Adotado' : 'Adotar'}}</button>
        </article>
    </section>
</ion-content>